.person-card {
  max-width: 10rem;
  margin-left: 1rem;
  margin-right: 1rem
}

.section-card-header {
  margin: auto
}

.container {
  justify-content: center;
  display: flex;
  flex-direction: row;
}