<div class="container">
  <div class="" *ngFor="let dude of dudes">
    <mat-card class="person-card recent-flex-item-0">

      <mat-card-title>{{dude.firstname}} {{dude.lastname}}</mat-card-title>
      <mat-card-subtitle>Dog Breed</mat-card-subtitle>

      <img mat-card-image src="https://material.angular.io/assets/img/examples/shiba2.jpg" alt="Photo of a Shiba Inu">
      <mat-card-content>
        <button mat-flat-button color="primary" (click)="viewDetails()">I Know Them!</button>
      </mat-card-content>
      <mat-card-actions>
        <button mat-button>
          <mat-icon>keyboard_arrow_up</mat-icon>
        </button>
        <button mat-button>
          <mat-icon>keyboard_arrow_down</mat-icon>
        </button>
      </mat-card-actions>
    </mat-card>
  </div>
</div>