.person-card {
<<<<<<< HEAD
width: 200px;
margin: 1rem 1rem;
=======
  max-width: 10rem;
  margin: 1rem 0;
  margin-left: 1rem;
  margin-right: 1rem;
>>>>>>> develop
}

.section-card-header {
  margin: auto
}

.container {
  justify-content: center;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

mat-card, mat-card-header {
  text-align: center;
}

