<mat-toolbar color="primary">
  <div class="nav" fxHide.lt-md>
    <button mat-icon-button (click)="onToggleSidenav()">
      <mat-icon>menu</mat-icon>
    </button>
  </div>
  <div>
    <a mat-button routerLink="/home" fxShow="true" fxHide.lt-md
      >Owner-Account</a
    >
  </div>
  <div>
    <a mat-button routerLink="/shame" fxShow="true" fxHide.lt-md
      >Hall of Shame</a
    >
  </div>
  <div>
    <a mat-button routerLink="/fame" fxShow="true" fxHide.lt-md>Hall of Fame</a>
  </div>
</mat-toolbar>
